<lxs>
    <scene root="root" axis_length="5"/>

    <views default="default">
        <perspective id="default" near="0.1" far="500" angle="20">
            <from x="0" y="5" z="30" />
            <to x="0" y="5" z="2" />
        </perspective>
        <perspective id="second" near="0.1" far="500" angle="45">
            <from x="0" y="40" z="1" />
            <to x="0" y="10" z="0" />
        </perspective>
    </views>

    <globals>
        <ambient r="0.2" g="0.2" b="0.2" a="1.0" />
        <background r="0.0" g="0.0" b="0.0" a="1.0" />
    </globals>

    <lights>
        <omni id="omniLight" enabled="1">
            <location x="0" y="25" z="10" w="1.0" />
            <ambient r="1.0" g="1.0" b="1.0" a="1.0" />
            <diffuse r="1.0" g="1.0" b="1.0" a="1.0" />
            <specular r="1.0" g="1.0" b="1.0" a="1.0" />
            <attenuation constant="1" linear="0" quadratic="0" />
        </omni>
        <spot id="spotlight" enabled="0" angle="20" exponent="10">
            <location x="0" y="5" z="5" w="1.0" />
            <target x="0" y="10" z="3" />
            <ambient r="1.0" g="1.0" b="1.0" a="1.0" />
            <diffuse r="1.0" g="1.0" b="1.0" a="1.0" />
            <specular r="1.0" g="1.0" b="1.0" a="1.0" />
            <attenuation constant="0" linear="1" quadratic="0" />
        </spot>
    </lights>

    <textures>
        <texture id="home" file="scenes/images/home.png" />
        <texture id="bar" file="scenes/images/bar.png" />
    </textures>

    <materials>
        <material id="grey" shininess="1">
            <emission r="0" g="0" b="0" a="1.0" />
            <ambient r="0.5" g="0.5" b="0.5" a="1.0" />
            <diffuse r="0.5" g="0.5" b="0.5" a="1.0" />
            <specular r="0.4" g="0.4" b="0.4" a="1.0" />
        </material>
        <material id="white" shininess="1">
            <emission r="0" g="0" b="0" a="1.0" />
            <ambient r="1.0" g="1.0" b="1.0" a="1.0" />
            <diffuse r="1.0" g="1.0" b="1.0" a="1.0" />
            <specular r="0.5" g="0.5" b="0.5" a="1.0" />
        </material>
    </materials>

    <transformations>
    </transformations>

    <animations>
    </animations>

    <primitives>
        <primitive id="rectangle1">
            <rectangle x1="-0.5" y1="-0.5" x2="0.5" y2="0.5"/>
        </primitive>
    </primitives>

    <!-- selectable and invisible components must have that indication following the id -->
    <!-- selectable="y/n" or visible="y/n"                        -->
    <!--    if nothing is said components visibility and selectability are inherited    -->
    <!--                by default, root is non selectable and visible                  -->

    <components>
       <component id="rect">
            <transformation>
                <translate x="2.5" y="4" z="0"/>
                <scale x="30" y="30" z="1" />
            </transformation>

            <materials>
                <material id="inherit" />
            </materials>
            <texture id="none" />
            <children>
                <primitiveref id="rectangle1"/>
            </children>
        </component>
        <component id="root">
            <transformation>
                <scale x="1" y="1" z="1" />
            </transformation>
            <materials>
                <material id="grey" />
            </materials>
            <texture id="none"/>
            <children>
                <componentref id="rect"/>
            </children>
        </component>
    </components>
</lxs>